[Desktop Entry]
Name=ImageForge KDE effects
Name[ca]=Efectes ImageForge KDE
Name[cs]=ImageForge efekty (KDE)
Name[da]=ImageForge KDE effekter
Name[de]=Bildverfälschungseffekt (KDE)
Name[eo]=Bildforĝilo KDE-efektoj
Name[es]=Efectos KDE de ImageForge
Name[et]=ImageForge KDE effektid
Name[fi]=ImageForge KDE-efektit
Name[fr]=Effets KDE ImageForge
Name[gl]=Efectos KDE ImageForge
Name[he]=ImageForge לש KDE יטקפא
Name[hr]=ImageForge KDE efekti
Name[hu]=ImageForge KDE effektusok
Name[is]=ImageForge KDE brellur
Name[it]=Effeti ImageForge di KDE
Name[ja]=ImageForge KDE 効果
Name[ko]=ImageForge KDE 효과
Name[lt]=ImageForge KDE efektai
Name[lv]=ImageForge KDE efekti
Name[mk]=ImageForge KDE ефект
Name[nl]=ImageForge KDE-effecten
Name[no]=ImageForge KDE-effekter
Name[no_NY]=ImageForge-KDE-effektar
Name[oc]=Efectes ImageForge KDE
Name[pl]=Efekty ImageForge w KDE
Name[pt]=Efeitos KDE para o ImageForge
Name[pt_BR]=Efeitos ImageForge KDE
Name[ro]=Efecte ImageForge KDE
Name[ru]=Эффекты KDE от ImageForge
Name[sk]=KDE efekty
Name[sl]=Efekti z ImageForge za KDE
Name[sr]=ImageForge KDE efekti
Name[sv]=ImageForge KDE-effekter
Name[ta]=ImageForge KDE Å¢¨Ç×¸û
Name[tr]=ImageForge KDE efektleri
Name[uk]=Ефекти ImageForge (KDE)
Name[zh_CN.GB2312]=ImageForge KDE 效果
Name[zh_TW.Big5]=ImageForge KDE 效果
X-KDE-Library=libkif_kdeeffects
Effects=Horizontal Mirror,Vertical Mirror,Gradient,Grayscale,Solid Fill,Unbalanced Gradient

