[Desktop Entry]
Type=Application
Comment=Pixie Image Viewer/Editor
Comment[ca]=Visor i editor d'imatges Pixie
Comment[cs]=Prohlížeč/editor obrázků Pixie
Comment[da]=Pixie billedfremvisning/redigering
Comment[de]=Pixie-Bildbetrachter und -bearbeiter
Comment[el]=ο προβολέας-διορθωτής εικόνων Pixie
Comment[eo]=Bildrigardilo kaj -redaktilo
Comment[es]=Visor/Editor de Imágenes Pixie
Comment[et]=KDE rakendus pildifailide vaatamiseks/redigeerimiseks
Comment[fi]=Pixie kuvannäyttäjä/muokkaaja
Comment[fr]=Éditeur/Afficheur d'images Pixie
Comment[gl]=Visualizador/Editor de Imaxes Pixie
Comment[he]=Pixie תונומתה ךרוע\גיצמ
Comment[hr]=Program za pregledavanje/uređivanje slika
Comment[hu]=Pixie képnéző és képszerkesztő
Comment[is]=pixie:  Forrit til að birta og sýsla með myndir
Comment[it]=Visualizzatore/editor di immagini
Comment[ja]=Pixieイメージビューア/エディタ
Comment[ko]=픽시 - 그림 보기/고치기
Comment[lt]=Pixie paveikslėlių žiūriklis ir redaktorius
Comment[lv]=Piksī Attēlu Skatītājs/Redaktors
Comment[mk]=Pixie гледач и уредувач на слики
Comment[nl]=de Pixie-afbeeldingenviewer/bewerker
Comment[no]=Pixie bildefremviser/redigerer
Comment[no_NY]=Pixie, program for redigering/vising av bilete
Comment[oc]=Visualisor e editor d'images Pixie
Comment[pl]=Przeglądarka/edytor plików graficznych Pixie
Comment[pt]=Visualizador/editor de imagens Pixie
Comment[pt_BR]=Editor/visualizador de imagens Pixie
Comment[ro]=Editor/vizualizor de imagini Pixie
Comment[ru]=просмотрщик/редактор изображений
Comment[sk]=Pixie Prezerač/Editor obrázkov
Comment[sl]=Pregledovalnik/urejevalnik slik Pixie
Comment[sr]=Pixie prikazivač/editor slika
Comment[sv]=Pixie bildvisare/editor
Comment[ta]=Pixie ¯ÕÅõ À¡÷¨ÅÂ¡Ç÷/¦¾¡ÌôÀ¡Ç÷
Comment[tr]=Pixie Resim Göstericisi
Comment[uk]=Переглядач та редактор образів Pixie
Comment[zh_CN.GB2312]=Pixie 图像查看器/编辑器
Comment[zh_TW.Big5]=Pixie 影像檢視器/編輯器
Icon=pixie
Name=Pixie Image Management System
Name[ca]=Sistema manegador d'imatges Pixie
Name[cs]=Systém správy obrázků Pixie
Name[da]=Pixie Billedhåndterings system
Name[de]=Pixie-Bildverwaltung
Name[el]=Σύστημα Διαχείρισης Εικόνων Pixie
Name[eo]=Bildredaktilo
Name[es]=Administrador de Imágenes Pixie
Name[et]=Pildifailide haldaja Pixie
Name[fi]=Pixie-kuviehallinta
Name[fr]=Afficheur/Éditeur d'images Pixie
Name[gl]=Sistema de xestión de imaxes Pixie
Name[he]=Pixie תונומתה לוהינ תכרעמ
Name[hr]=Pixie sustav za upravljanje slikama
Name[hu]=Pixie képszerkesztő
Name[is]=Pixie myndahöndlunarkerfi
Name[it]=Sistema di gestione immagini Pixie
Name[ja]=Pixieイメージマネージメントシステム
Name[ko]=픽시 - 그림 관리 시스템
Name[lt]=Pixie paveikslėlių tvarkymo sistema
Name[lv]=Piksī Attēlu Menedžmenta Sistēma
Name[mk]=Pixie гледач и менаџер на слики
Name[nl]=Pixie Afbeelingen Beheer Systeem
Name[no]=Pixie bildebehandlingssystem
Name[no_NY]=Bilethandteringssystemet Pixie
Name[oc]=Sistemo gestionari d'images Pixie
Name[pl]=Program do obróbki grafiki Pixie
Name[pt]=Sistema de Gestão de Imagens Pixie
Name[pt_BR]=Sistema Pixie de gerenciamento de imagens
Name[ro]=Pixie
Name[ru]=Pixie
Name[sk]=Pixie Systém Manažér Obrázkov
Name[sl]=Upravljalnik slik Pixie
Name[sr]=Pixie sistem za manipulaciju slikama
Name[sv]=Pixie bildhanterare
Name[ta]=Pixie ¯ÕÅ §ÁÄ¡Ç÷ «¨ÁôÒ
Name[tr]=Pixie Resim Yönetim Sistemi
Name[uk]=Система керування образами Pixie
Name[zh_CN.GB2312]=Pixie 图像管理系统
Name[zh_TW.Big5]=Pixie 影像管理系統
Exec=pixie %U
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/x-bmp;image/png;
InitialPreference=5
MapNotify=true
DocPath=pixie/index.html
